<mat-card>
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Ex. Pizza">
        </mat-form-field><br><br>
        <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Ex. Pizza">
        </mat-form-field><br><br>
        <button mat-stroked-button color="warn">Login</button>   
    </form>
</mat-card>