.container{
    background: orangered;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1{
    padding: 20px;
}
div ul{
    display: flex;
    list-style-type: none;
    padding: 0 0;
    font-size: 1.25em;
}
div ul li{
    background: orangered;
    color: white;
}

div ul li a:hover{
    background-color: white;
    color: black;
    border-radius: 5px;
}

a{  
    background: orangered;
    color: white;
    text-decoration: none;
    padding: 10px;  
}